<div class="container">
	<% if flash[:warning] %>
	<div class="alert alert-danger"><%= flash[:warning] %></div>
	<% end %>
	<% if @lists && @lists.size >= 1 %>
	<table class="table table-bordered">
		<thead id='title-favorites'>
			<tr>
				<th>Name</th>
				<th>Available</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody id='favorites-musics'>
			<% if !@lists.empty? %>
			<% @lists.each do |values| %>
			<tr>
				<td><%= values.name %></td>
				<td><%= values.available %></td>
				<td>
					<a href='/task/edit/<%= values.id %>'>
						Show Tasks &nbsp&nbsp
					</a>
				</td>
			</tr>  
			<% end %>  
			<% end %>
		</tbody>
	</table>
	<%end%>
</div>